/* Global Styles */

/* fallback */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/material-icons.woff2) format("woff2");
}

/* roboto-slab-regular - cyrillic_greek_latin_latin-ext_vietnamese */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/roboto-slab-v24-cyrillic_greek_latin_latin-ext_vietnamese-regular.eot"); /* IE9 Compat Modes */
  src: url("/fonts/roboto-slab-v24-cyrillic_greek_latin_latin-ext_vietnamese-regular.eot?#iefix")
    format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/roboto-slab-v24-cyrillic_greek_latin_latin-ext_vietnamese-regular.woff2")
    format("woff2"), /* Super Modern Browsers */
    url("/fonts/roboto-slab-v24-cyrillic_greek_latin_latin-ext_vietnamese-regular.woff")
    format("woff"), /* Modern Browsers */
    url("/fonts/roboto-slab-v24-cyrillic_greek_latin_latin-ext_vietnamese-regular.ttf")
    format("truetype"), /* Safari, Android, iOS */
    url("/fonts/roboto-slab-v24-cyrillic_greek_latin_latin-ext_vietnamese-regular.svg#RobotoSlab")
    format("svg"); /* Legacy iOS */
}

/* roboto-slab-800 - cyrillic_greek_latin_latin-ext_vietnamese */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/roboto-slab-v24-cyrillic_greek_latin_latin-ext_vietnamese-800.eot"); /* IE9 Compat Modes */
  src: url("/fonts/roboto-slab-v24-cyrillic_greek_latin_latin-ext_vietnamese-800.eot?#iefix")
    format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/roboto-slab-v24-cyrillic_greek_latin_latin-ext_vietnamese-800.woff2")
    format("woff2"), /* Super Modern Browsers */
    url("/fonts/roboto-slab-v24-cyrillic_greek_latin_latin-ext_vietnamese-800.woff")
    format("woff"), /* Modern Browsers */
    url("/fonts/roboto-slab-v24-cyrillic_greek_latin_latin-ext_vietnamese-800.ttf")
    format("truetype"), /* Safari, Android, iOS */
    url("/fonts/roboto-slab-v24-cyrillic_greek_latin_latin-ext_vietnamese-800.svg#RobotoSlab")
    format("svg"); /* Legacy iOS */
}

@media (prefers-color-scheme: light) {
  html,
  body {
    /* Bulma doesn't seem to work correctly when setting the hsl scheme css variables */
    background-color: #f6f1ec;
  }

  .card {
    --bulma-card-background-color: var(--bulma-white);
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    --bulma-card-background-color: rgb(59, 42, 33);
  }
}

:root {
  --bulma-primary-h: 39;
  --bulma-primary-s: 100%;
  --bulma-primary-l: 50%;

  --bulma-scheme-h: 30;
  --bulma-scheme-s: 36%;
  --bulma-scheme-l: 95%;
}

.material-icons {
  /* biome-ignore lint/a11y/useGenericFontNames: */
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "Charm";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/charm-latin.woff2) format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html,
body {
  min-height: 100%;
  font-family: "Roboto Slab", serif !important;
}

select {
  border: 1px solid !important;
}

.clickable {
  cursor: pointer;
}

a.clickable,
a.clickable:hover {
  cursor: pointer;
}

.flex-fill {
  flex: 1 auto;
}

.header-section-small {
  border-bottom: 10px solid #ffa500;
  margin-bottom: 10px;
}

#footer {
  padding: 50px 0;
  font-size: 0.8em;
  text-align: center;
}

/* Homepage Styles */
#home {
  overflow-x: hidden;
}

#home .main-content {
  padding: 15px;
  box-sizing: border-box;
}

#home .header-section {
  text-align: center;
  background: #692407ff;
  padding: 20px;
  color: #ffa500;
  margin-bottom: 0;
  overflow: hidden;
}

#home .header-section h4 {
  font-weight: bold;
  margin-bottom: 0;
}

#home .header-section h5 {
  font-size: 1.3em;
}

#home .header-section img {
  max-height: 80px;
}

#home .header-section p {
  font-family: "Charm", cursive;
  font-size: 1.3em;
  max-width: 800px;
  margin: auto;
}

#home .podcast-list-item {
  margin-top: 30px;
}

#home .artwork {
  text-align: center;
  cursor: pointer;
}

#home .artwork .subtitle,
#home .description .subtitle {
  font-size: 14px;
  font-weight: bold;
  margin-top: 8px;
  text-align: left;
}

#home .artwork img {
  width: 100%;
  max-width: 300px;
  box-shadow: 0 0 2px #692407;
}

#home #podcastSearch {
  width: 100%;
}

#home .filter-options {
  display: flex;
}

#home .filter-options > * {
  margin-right: 10px;
}

#home .top-information {
  margin-bottom: 40px;
}

#home .title {
  font-size: 1.2em;
  font-weight: bold;
}

#home .info-tags > span {
  border: 1px solid;
}

#home .description {
  word-break: break-word;
  margin-top: 10px;
  max-width: 50ch;
}

@media screen and (max-width: 525px) {
  #home .description span {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #home .artwork {
    flex: 0.3;
    align-items: center;
  }

  #home .title {
    font-size: 1em;
  }

  #home .filter-options select,
  #home .filter-options .control {
    width: 100%;
    text-overflow: ellipsis;
  }

  #home .podcast-list-item + .podcast-list-item {
    margin-top: 5px;
  }
}

/* Podcast Blog Styles */
#podcast .subscribe-buttons {
  margin-top: 30px;
  text-align: center;
}

#podcast .subscribe-buttons > * {
  margin-top: 10px;
}

#podcast .description {
  word-break: break-word;
}

#podcast .title-section {
  width: 100%;
  max-width: 300px;
  margin: auto;
}

#podcast .title-section h1 {
  font-size: 1.5em;
  margin-top: 20px;
  font-weight: 800;
}

#podcast .title-section p {
  font-size: 0.9em;
  margin: 12px 0;
}

#podcast .title-section .avatar {
  width: 300px;
  box-shadow: 0 0 5px #692407;
}

#podcast .title-section .badge {
  max-width: 160px;
  margin: 10px;
}

#podcast .content-section {
  padding: 0 20px;
}

#podcast .content-section input[type="text"] {
  width: 100%;
}

/* Player Styles */

#player {
  position: fixed;
  /* background: #efefef; */
  width: 100%;
  bottom: 0;
  padding: 10px;
  box-sizing: border-box;
  z-index: 99999;
  box-shadow: 0 -5px 5px -5px #333;
}

#player > audio {
  width: 100%;
}

#player .title-bar {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}

#player .title-bar > h6 {
  font-size: 1.1em;
  font-weight: normal;
  text-align: center;
}

#player .title-bar > button {
  padding: 0 10px;
  cursor: pointer;
  border: none;
}

.podcast-group {
  padding-bottom: 40px;
}

.podcast-group-title {
  font-size: 1.3rem;
  font-weight: bold;
  border-bottom: 5px solid orange;
  display: inline-block;
}

.podcast-group-title > a {
  position: relative;
  top: 5px;
  margin-left: 5px;
}

.download-podcast {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.dropdown-item:has(> .dropdown-item-download) {
  -webkit-padding-end: 1rem;
  padding-inline-end: 1rem;
}

.dropdown-item-download {
  display: flex;
  justify-content: space-between;
}
