.actions {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.description {
  background: #fdf5e6;
  border: 1px solid #000;
  padding: 10px;
  word-break: break-word;
  margin: 15px 0;
}

@media (prefers-color-scheme: dark) {
  .description {
    background: rgb(59, 42, 33);
  }
}

.episode {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
  margin: auto;
}

.episode:target {
  position: relative;
  z-index: 0;
}

.episode:target::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2em;
  right: -2em;
  z-index: -1;

  filter: blur(24px);
  animation: targetFade 5s;
  opacity: 0;
}

@keyframes targetFade {
  0% {
    opacity: 0.7;
  }
  25% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}

.title {
  font-size: 1.1em;
  font-weight: 800;
  display: flex;
}

.title > a {
  margin-left: 5px;
}

.pubdate {
  margin-bottom: 0;
}

.play {
  font-size: 0.9em;
  color: #000;
  margin-right: 15px;
  border-radius: 4px !important;
  border: none;
}
