/* Container Styles */
.latest-episode-container {
  overflow: visible;
  position: relative;
}

.collapsible {
  transition: max-height 0.5s, opacity 0.5s, margin-top 0.5s;
  max-height: 400px;
}

.collapsed {
  transition: max-height 0.3s, opacity 0.3s, margin-top 0.3s;
  max-height: 0;
  opacity: 0;
  margin-top: 0 !important;
  overflow: hidden;
}

/* Item Styles */
.latest-episode-item {
  display: inline-block;
  width: 290px;
  margin-right: 1.4em;
  border-radius: 4px;
  border: 1px solid #dcd4cb;
  box-shadow: none;
  position: relative;
}

@media (prefers-color-scheme: dark) {
  .latest-episode-item {
    border: none;
  }
}

.latest-episode-item::after {
  content: "#" counter(item-counter);
  counter-increment: item-counter;
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  font-size: 0.8em;
}

.media-content {
  align-self: center;
  margin: -0.3em 0 0 -0.4em;
  font-size: 0.8em;
  font-weight: 500;
  line-height: 1.25;
  overflow: visible;
}

.image {
  width: 44px;
  height: 44px;
  overflow: hidden;
  box-shadow: 0 0 2px #692407;
}

.title {
  font-size: 0.9rem;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: -0.2px;
}

.play-timestamp,
.download-btn {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.6rem 0.25rem 0.3rem;
  font-size: 0.85rem;
  border-radius: 4px;
  cursor: pointer;
}

.latest-episode-item .download-btn {
  padding: 0.25rem 0.3rem 0.3rem;
}

/* Carousel Styles */
.carousel-track {
  display: inline-flex;
  height: 100%;
  cursor: grab;
  counter-reset: item-counter;
}

.is-dragging {
  cursor: grabbing;
}

.is-hidden {
  opacity: 0;
  user-select: none;
}

.carousel-btn-left,
.carousel-btn-right {
  width: 28px;
  height: 28px;
  background: #c89d8b;
  color: #f6f1ec;
  line-height: 0;

  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.carousel-btn-left[disabled],
.carousel-btn-right[disabled] {
  opacity: 0.3;
}

.carousel-btn-left:not([disabled]):active,
.carousel-btn-right:not([disabled]):active {
  background: #8f452f;
}

.carousel-btn-right {
  right: auto;
  left: calc(100% - 1rem);
}

@media (prefers-color-scheme: dark) {
  .carousel-btn-left,
  .carousel-btn-right {
    background-color: var(--bulma-scheme-main);
  }
}
