.scrollButtonShown {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  bottom: 20px;
  right: 30px;
  z-index: 99;

  font-size: 18px;
  border: none;
  outline: none;

  background-color: rgba(105, 36, 7);
  color: white;
  cursor: pointer;
  padding: 9px;
  border-radius: 50%;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.scrollButtonShown:hover {
  opacity: 0.75;
}

.scrollButtonHidden {
  display: none;
}
