.container {
  position: relative;
}

.tooltip {
  display: none;
  position: absolute;
  left: 50%;
  bottom: calc(100% + 4px);
  transform: translateX(-50%);
  white-space: nowrap;

  font-size: 0.8rem;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 2px 6px;
  color: white;
}

@media (prefers-color-scheme: dark) {
  .tooltip {
    background: transparent;
    color: unset;
  }
}

.visible {
  display: block;
}
